# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
src/generated

# os junk
.DS_Store
Thumbs.db

# debug
npm-debug.log*
*.log

# env files
.env*
!.env.example

# ide
.vscode/
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.local/
